<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content='' />
    <meta name='author' content='' />
    
    <title>AirDB</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  
  <!--
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  -->
  
  </head>
  <body>

    <!-- ================================================================================ -->
    <!-- Topbar                                                                           -->
    <!-- ================================================================================ -->

    <!-- topbar -->
    <div class="topbar">
      <div class="topbar-inner">
        <div class="container-fluid">
          <a href="#" class="brand">AirDB</a>
          <ul class="nav">
            <li><%= link_to 'Home', root_path %></li>
            <li><%= link_to 'Your Projects', projects_path %></li>
          </ul>
          <p class="pull-right">
            <% if user_signed_in? %>
              Signed in as <%= current_user.email %>. Not you?
              <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
            <% else %>
<!--
              <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "Sign in", new_user_session_path %>
-->
              <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'pull-right'}) do |f| %>
                <%= link_to "Sign up", new_user_registration_path %> or
                <%= f.email_field :email, :class => 'input-small', :placeholder => 'E-mail' %>
                <%= f.password_field :password, :class => 'input-small', :placeholder => 'Password' %>
                <%= f.submit "Sign in", :class => 'btn' %>
              <% end %>

            <% end %>
          </p>
        </div>
      </div>
    </div>
    <!-- /topbar -->

    <!-- ================================================================================ -->
    <!-- Notification                                                                     -->
    <!-- ================================================================================ -->

    <div class='container-fluid'>
      <%= raw %!<div class='alert-message success'>#{notice}</div>! if notice %>
      <%= raw %!<div class='alert-message alert'>#{alert}</div>! if alert %>
    </div>

    <!-- ================================================================================ -->
    <!-- Container                                                                        -->
    <!-- ================================================================================ -->

    <% if user_signed_in? %>

    <!-- container-fluid -->
    <div class="container-fluid">
      <div class="sidebar">
        <div class="well">
        <% current_user.projects.each do |project| %>
          <h5><%= link_to project.name, project_path(project) %></h5>
          <% if project.tables.size > 0 %>
          <ul>
            <% project.tables.each do |table| %>
            <li><%= link_to_unless_current table.name, project_table_path(project, table) %></li>
            <% end %>
          </ul>
          <% else %>
          <ul class='unstyled'>
            <li>no tables in this project</li>
          </ul>
          <% end %>
        <% end %>
        </div>
      </div>

      <div class="content">
        <!-- Main hero unit for a primary marketing message or call to action -->
        <div class="main">
          <%= yield %>
        </div>
      </div>
    </div>
    <!-- /container-fluid -->

    <!-- footer -->
    <footer>
      <p>&copy; netprice.com</p>
    </footer>
    <!-- /footer -->

    <% else %>

    <!-- topbar -->
    <div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="#">Project name</a>
          <ul class="nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>

          <% if user_signed_in? %>
          <p class="pull-right">
            Signed in as <%= current_user.email %>. Not you?
            <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
          </p>
          <% else %>
<!--
          <p class="pull-right">
            <%= link_to "Sign up", new_user_registration_path %> or 
            <%= link_to "Sign in", new_user_session_path %>
          </p>
-->

          <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'pull-right'}) do |f| %>
            <%= link_to "Sign up", new_user_registration_path %> or
            <%= f.email_field :email, :class => 'input-small', :placeholder => 'E-mail' %>
            <%= f.password_field :password, :class => 'input-small', :placeholder => 'Password' %>
            <%= f.submit "Sign in", :class => 'btn' %>
          <% end %>

          <% end %>
        </div>
      </div>
    </div>
    <!-- /topbar -->

    <!-- container -->
    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>Hello, world!</h1>
        <%= yield %>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span6">
          <h2>Heading</h2>
          <p>Etiam porta sem malesuada magna mollis euismod. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
        <div class="span5">
          <h2>Heading</h2>
           <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
       </div>
        <div class="span5">
          <h2>Heading</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
      </div>
    </div>
    <!-- /container -->

    <!-- footer -->
    <footer>
      <p>&copy; netprice.com</p>
    </footer>
    <!-- /footer -->

    <% end %>

  </body>
</html>
